/* GENERAL STYLE */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
margin: auto;
  width: 1060px;
  padding: 30px;
  border: 2px solid black;
}


header{
  height: 200px;
  background: yellow;
}

main{
  width: 100%;
  height:400px;
  /* background: lightgrey; */
  margin-top: 10px;
}

main aside.sidebar,
main section.center{
  float:left;
}



main aside.sidebar-left{
  width: 275px;
  height:275px;
  background:#DA70D6;

}

main section.center{
  width: 400px;
  height: 400px;
  background: purple;
  margin-left: 23px;
}
main aside.sidebar-right{
  width: 275px;
  margin-left: 23px;
}

main aside.sidebar-right_1{
  width: 100%;
  height:175px;
  background:#DA70D6;
}

main aside.sidebar-right_2{
    width: 100%;
    height:175px;
    background:#DA70D6;
    margin-top: 20px;
}

footer{
  height: 120px;
  background: #E6E6FA;
  margin-top: 10px;


}
